# Ignore logs
*.mat
*.log
+*/

# because of Copyright
reference/

# because of license
progress/notes/v2_経過報告_総量規制はバブル崩壊を引き起こしたのか？_モデル・カリブレーション・VAR分析/code/kiyotaki_Moore_1997_k_shock.mod
progress/notes/v3_経過報告_総量規制はバブル崩壊を引き起こしたのか？_モデル・カリブレーション・VAR分析/code/kiyotaki_Moore_1997_b_shock.mod
progress/code/Kiyotaki_Moore_1997/
progress/code/Iacoviello_2005/
progress/code/Gertler_and_Karadi_2011/
progress/data/
progress/notes/外木先生/

